
<div class="ion-padding">
  <h1>Solicitar</h1>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-select label="Tipo de Certficado" placeholder="" [(ngModel)]="certificado.idFormato">
            <ion-select-option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" style="justify-content: end;">
        <ion-button id="btnCerrar" color="secondary" (click)="dismiss()">Cerrar</ion-button>
        <ion-button id="btnSolicitar" (click)="solicitar()" [disabled]="!certificado.idFormato">Solicitar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>