<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Nueva solicitud</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <fa-icon icon="close"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-radio-group [(ngModel)]="certificado.idFormato">
  <ion-radio
    value="end"
    labelPlacement="end"
    class="ion-margin"
    *ngFor="let tipo of tipos"
    (click)="selectTipo(tipo.id)"
    [value]="tipo.id"
    >{{ tipo.nombre }}</ion-radio
  ><br />
</ion-radio-group>

<ion-button
  (click)="solicitar()"
  expand="block"
  [disabled]="!certificado.idFormato"
  >Solicitar</ion-button
>
