<ion-header>
  <ion-toolbar>
    <h6>Nueva solicitud de certificado</h6>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <fa-icon icon="close"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-radio-group [(ngModel)]="certificado.idFormato">
    <ion-item
      *ngFor="let tipo of tipos"
      (click)="selectTipo(tipo.id)"
      style="--padding-start: 0px; --background: none"
    >
      <ion-label> {{ tipo.nombre }}</ion-label>
      <ion-radio slot="start" [value]="tipo.id"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <div style="display: flex; justify-content: end; margin-top: 1rem">
    <ion-button
      id="btnSolicitar"
      (click)="solicitar()"
      [disabled]="!certificado.idFormato"
      >Solicitar</ion-button
    >
  </div>
</ion-content>
