<ion-header class="ion-no-border" class="ion-padding" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <div class="ellipsis">
      <ion-text class="ellipsis" *ngIf="title">{{ global.empresa }}</ion-text>
    </div>
    <ion-buttons slot="end">
      <ion-avatar slot="end" (click)="goMiCuenta()">
        <img [src]="global.trabajador.avatar" />
        <button class="status"></button>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-popover
  #popover
  [isOpen]="isOpen"
  (didDismiss)="isOpen = false"
  class="my-custom-class"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img [src]="global.trabajador.avatar" />
              <button></button>
            </ion-avatar>
          </ion-col>
          <ion-col>
            {{ global.trabajador.nombre }}<br />{{ global.trabajador.paterno }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div (click)="goMiCuenta()">
              <fa-icon [icon]="['fal', 'user']"></fa-icon>
              <ion-label> Mi Cuenta </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="SignOut()">
            <fa-icon [icon]="['fal', 'power-off']"></fa-icon> Salir</ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-popover> -->
