<app-header>Certificados"></app-header>
<ion-content>
  <app-section-title [section]="certificadosTitle"></app-section-title>
  <ion-list>
    <ion-item *ngFor="let certificado of certificados">
      <ion-label>
        <h4 class="item-title">{{certificado.referencia}}</h4>
        <p>{{certificado.fecha | date: 'dd/MM/yyyy'}}</p>
      </ion-label>
      <ion-badge class="badge-success">Aprobado</ion-badge>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      class="spinner-hide"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- <app-header>Certificados"></app-header>
<ion-content>
  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <h1 style="margin-left: 1rem !important">
            <fa-duotone-icon
              [icon]="['fad', 'file-invoice']"
              class="text-primary big-icon"
            ></fa-duotone-icon>
          </h1>
        </ion-col>
        <ion-col size="9">
          <h4>
            Certificados
            <small class="text-muted" style="display: block"
              >Los certificados que has solicitado</small
            >
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <app-certificado-lista></app-certificado-lista>
</ion-fab>
</ion-content> -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="showSolicitar()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
