<ion-card class="ion-padding" *ngIf="eventos.length>0">
  <h6 class="text-uppercase text-info"><fa-duotone-icon [icon]="['fad', 'calendar-day']"
      class="text-info"></fa-duotone-icon>Próximos Eventos</h6>
  <ion-grid>
    <div *ngFor="let item of eventos">
      <ion-row>
        <ion-col size="2" >
          <fa-icon class="text-info big-icon" *ngIf="item.tipoEvento =='Cumpleaños'"
            [icon]="['fal', 'cake-candles']"></fa-icon>
          <fa-icon class="text-danger big-icon" *ngIf="item.tipoEvento =='Feriado Legal'"
            [icon]="['fal', 'party-horn']"></fa-icon>
        </ion-col>
        <ion-col size="2"  *ngIf="item.tipoEvento =='Cumpleaños'">
          <img [src]="item.urlFotografia" alt="user image" class="rounded user-profile-img">
        </ion-col>
        <ion-col size="auto">
          <ion-label class="bold block">{{item.referencia}}</ion-label>
          <ion-label class="text-muted">{{item.inicio | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-card>