<ion-header *ngIf="!showModalFirma">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    {{documento.referencia}}
  </ion-toolbar>

</ion-header>



<ion-content>
  <div class="div-pdf" *ngIf="!showModalFirma">
    <ngx-extended-pdf-viewer id="pdfVIEWER" *ngIf="loaddoc" [src]="pdfSrc" backgroundColor="#ffffff"
      [showToolbar]="true" [showSidebarButton]="false" [showFindButton]="false" [showPagingButtons]="false"
      [showDrawEditor]="false" [showStampEditor]="false" [showTextEditor]="false" [showZoomButtons]="false"
      [showPresentationModeButton]="false" [showOpenFileButton]="false" [showPrintButton]="false"
      [showDownloadButton]="false" [showSecondaryToolbarButton]="false" [showRotateButton]="false"
      [showHandToolButton]="false" [showScrollingButton]="false" [showSpreadButton]="false"
      [showPropertiesButton]="false" [zoom]="'page-width'"       
      (pageChange)="onPageChange($event)"
      (pagesLoaded)="onPagesLoaded($event)"
      ></ngx-extended-pdf-viewer>

    <ion-fab (click)="firmarDocumento()"
    *ngIf="showFirmaFab">
      <ion-fab-button size="small">
        <fa-icon [icon]="['fal', 'signature']"></fa-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab (click)="share()" *ngIf="showShareFab">
      <ion-fab-button size="small">
        <fa-icon [icon]="['fal', 'share-nodes']"></fa-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <app-select-metodo *ngIf="showModalFirma" (hideSelectMethod)="hideSelectComponent($event)"
    [id]="id"></app-select-metodo>
  <ion-content>