fa-icon {
  font-size: 1.75em;
  margin-right: 0 !important;
}

ion-content {
  --background: white;
}

// --offset-bottom: auto!important;
ion-content {
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-fab {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.zoom {
  font-size: 1.75em;
}

.div-pdf {
  background-color: blue;
  display: block;
}

#fingerprint {
  position: absolute;
  left: 5px;
  bottom: 5px;
}


#pdfVIEWER{
  z-index: 0;
}

.actionButtons {
  height: 60px;
  width: 100%;
  position: absolute;
  right: 5px;
  z-index: 1;
}