
fa-icon{
  font-size: 1.75em;
  margin-right: 0 !important;
}

ion-content{
  --background: white;
}

ion-fab{
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.zoom {
  font-size: 1.75em;
}


#fingerprint{
  position: absolute;
  left: 5px;
  bottom: 5px;
 }
