<ion-item lines="none">
  <ion-avatar slot="start" [style]="'background: var(' + section.color + ')'"
    ><fa-icon [icon]="['fal', section.icon]"></fa-icon
  ></ion-avatar>
  <ion-label>
    <h1 [style]="'color:var(' + section.color + ')'">{{ section.title }}</h1>
    <p>{{ section.message }}</p>
  </ion-label>
</ion-item>

<div *ngIf="displayEmpty" class="ion-text-center ion-margin-top">
  <fa-icon
    [style]="'color: var(' + section.color + '); font-size: 35px'"
    [icon]="['fal', 'file-slash']"
  ></fa-icon>
  <p [style]="'color:var(' + section.color + ')'">
    No hay {{ section.title }} para listar.
  </p>
</div>
