<app-header title="Liquidaciones"></app-header>
<ion-content>
  <app-section-title [section]="liquidacionesTitle"></app-section-title>
  <ion-list>
    <ion-item
      (click)="showPDF(liquidacion)"
      *ngFor="let liquidacion of porFirmar"
    >
      <ion-label>
        <h4 class="item-title">{{liquidacion.referencia}}</h4>
        <p>{{liquidacion.fecha | date : 'dd/MM/yy'}}</p>
      </ion-label>
      <ion-badge class="badge-warning">Por firmar</ion-badge>
    </ion-item>
  </ion-list>

  <div *ngIf="firmados.length>0">
    <app-section-title [section]="historialTitle"></app-section-title>
    <ion-list>
      <ion-item
        (click)="showPDF(liquidacion)"
        *ngFor="let liquidacion of firmados"
      >
        <ion-label>
          <h4 class="item-title">{{liquidacion.referencia}}</h4>
          <p>{{liquidacion.fecha | date : 'dd/MM/yy'}}</p>
        </ion-label>

        <ion-badge class="badge-success">Firmado</ion-badge>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      class="spinner-hide"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
