.diasdisp{
    background-image: url('../../../assets/img/vacaciones-back.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    h2{
        font-size: 2.5rem;
    }
    span{
        font-size: 1.5rem;
    }
}