<app-header></app-header>

<ion-content>
  <div class="diasdisp">
    <p>Días disponibles</p>
    <h2>{{dias}} <span>días</span></h2>
  </div>
  <app-vacaciones-solicitudes (updatediasEvent)="mostrarDiasDisponibles($event)"></app-vacaciones-solicitudes>

  <app-vacaciones-historial></app-vacaciones-historial>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="modalSolicitar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button> </ion-fab>
</ion-content>