// ion-avatar {
//   --border-radius: 4px;
//   margin: 0 !important
// }

// ion-badge {
//   padding: 5px;
// }

// @media (prefers-color-scheme: light) {
//   ion-content {
//     --ion-background-color: #f5f5f9;
//   }
// }

.user{
  --background: var(--ion-color-primary);
  background: var(--ion-color-primary);
  color: #FFFFFF;
  padding: 1rem;
  p{
    color: #FFFFFF
  }
}