<ion-list>
  <ion-item>
    <h4>¿Cómo quieres recibir notificaciones?</h4>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" disabled="true" checked="true"> </ion-checkbox>
    <fa-icon [icon]="['fal', 'envelope']"></fa-icon>
    <ion-label>
      <h2>Email</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox slot="start" (ionChange)="grabar()" [(ngModel)]="WA">
    </ion-checkbox>
    <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
    <ion-label>
      <h2>Whatsapp</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox
      slot="start"
      (ionChange)="grabar()"
      [(ngModel)]="SMS"
    ></ion-checkbox>
    <fa-icon [icon]="['fal', 'comment-sms']"></fa-icon>
    <ion-label>
      <h2>SMS</h2>
    </ion-label>
  </ion-item>
</ion-list>
<!-- <ion-card class="card">
  <ion-card-header>
    <ion-card-title>Notificaciones</ion-card-title>
    <ion-card-subtitle>¿Como quieres recibir notificaciones?</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-checkbox labelPlacement="end" disabled="true" checked="true">
      <fa-icon [icon]="['fal', 'envelope']"></fa-icon>Email</ion-checkbox
    ><br />
    <ion-checkbox labelPlacement="end" (ionChange)="grabar()" [(ngModel)]="WA"
      ><fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>WhatsApp</ion-checkbox
    ><br />
    <ion-checkbox labelPlacement="end" (ionChange)="grabar()" [(ngModel)]="SMS"
      ><fa-icon [icon]="['fal', 'comment-sms']"></fa-icon>SMS</ion-checkbox
    ><br />
  </ion-card-content>
</ion-card> -->
