<app-loader> </app-loader>
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuId="main" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header
            ><img src="assets/img/logo_horizontal.png" alt="" class="img-logo"
          /></ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngFor="let item of menucompleto"
              [routerLink]="item.url"
              style="font-size: 20px"
            >
              <fa-icon
                [style]="'color:var(' + item.accent + ')'"
                [icon]="['fal', item.iconfull]"
                slot="start"
              ></fa-icon>

              <p [style]="'color:var(-' + item.accent + ')'">
                {{ item.title }}
              </p>
            </ion-item>
            <!-- <ion-item
              routerDirection="root"
              [routerLink]="[menucompleto[0].url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              class="mb-5"
            >
              <fa-duotone-icon
                [icon]="menucompleto[0].iconfull"
                style="font-size: 1.5em; margin-right: 8px"
              ></fa-duotone-icon>
              <ion-label>{{ menucompleto[0].title }}</ion-label>
            </ion-item>

            <ion-item class="menu-header small text-uppercase" lines="none">
              <span class="menu-header-text semibold">Gestión</span>
            </ion-item>

            <div *ngFor="let p of gestion">
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <fa-icon
                  [icon]="p.iconfull"
                  [className]="p.clase"
                  style="font-size: 1.5em; margin-right: 8px"
                ></fa-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>

            <ion-item class="menu-header small text-uppercase" lines="none">
              <span class="menu-header-text semibold">Documentos</span>
            </ion-item>

            <div *ngFor="let p of documentos">
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <fa-icon
                  [icon]="p.iconfull"
                  [className]="p.clase"
                  style="font-size: 1.5em; margin-right: 8px"
                ></fa-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div> -->
          </ion-menu-toggle>
        </ion-list>
        <span class="version"> Versión {{ global.appVersion }} </span>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
