ion-button {
    text-transform: none;
  }
  
  
  ion-card {
    border-radius: 0.375rem !important;
    font-size: 15px;
    word-wrap: break-word;
    background-clip: border-box;
  }
  
  
  @media (prefers-color-scheme: light) {
    ion-menu {
      --ion-background-color: white;
    }
  
    ion-card {
      background-color: #fff;
      border-color: #d9dee3;
      box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
      background-color: #fff;
    }
  }
  
  .menu-header {
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .3s ease-in-out
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  .img-logo {
    margin-top: 15%;
    width: 75%;
    margin-bottom: 15%;
  }
  
  
  .version {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }