<ion-row class="ion-padding ion-align-items-between h-100">
  <ion-col size="12">
    <div class="w-90">
      <h4 class="mb-2 mt-2">Hola {{ global.user.name }}! 👋</h4>
      <p class="mb-4">Necesitamos saber a cuál empresa deseas ingresar.</p>
      <p>
        Recuerda que dentro de la aplicación también puedes cambiar de empresa
        sin cerrar sesión.
      </p>
    </div>
    <ion-item lines="none"
      *ngFor="let tenant of global.tenants"
      (click)="selectTenant(tenant)"
      class="tenant"
    >
      <fa-icon [icon]="['fas', 'building']" slot="start"></fa-icon>
      <ion-label>{{ tenant.name }}</ion-label>
    </ion-item>
  </ion-col>

  <ion-col size="12" class="center">
    <img src="assets/img/logo_horizontal.png" class="img-logo" />
  </ion-col>
</ion-row>
