<ion-item lines="none">
  <ion-avatar slot="start" style="background: var(--documentos-accent)"
    ><fa-icon [icon]="['fal', 'folder']"></fa-icon
  ></ion-avatar>
  <ion-label>
    <h1 style="color: var(--)">Documentos</h1>
    <p>Documentos pendientes de firma.</p>
  </ion-label>

  <ion-button slot="end" class="filter-button" (click)="openModal()">
    <ion-icon slot="icon-only" name="filter"></ion-icon>
  </ion-button>
</ion-item>

<ion-modal>
  <ng-template>
    <ion-content class="ion-padding">
      <h5>Filtrar documentos</h5>
      <ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-toggle justify="space-between" [(ngModel)]="porFirmar"
              ><span [ngClass]="{ selected: porFirmar == true }"
                >Por firmar</span
              ></ion-toggle
            >
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row (click)="ChangeOpened(1)">
            <ion-col size="11"
              ><span [ngClass]="{ selected: hasDate }">Fecha </span></ion-col
            >
            <ion-col size="1">
              <fa-icon
                *ngIf="toggleItems[1].opened"
                [icon]="['fal', 'angle-up']"
              ></fa-icon>
              <fa-icon
                *ngIf="!toggleItems[1].opened"
                [icon]="['fal', 'angle-down']"
              ></fa-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" *ngIf="toggleItems[1].opened">
              <ion-range-calendar
                [options]="optionsRange"
                [(ngModel)]="dateRange"
                [type]="type"
                [format]="'yyyy-MM-dd'"
              >
              </ion-range-calendar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="11" (click)="ChangeOpened(2)"
              ><span [ngClass]="{ selected: tipo >= 0 }"
                >Tipo de Documento</span
              ></ion-col
            >
            <ion-col size="1">
              <fa-icon
                *ngIf="toggleItems[2].opened"
                [icon]="['fal', 'angle-up']"
              ></fa-icon>
              <fa-icon
                *ngIf="!toggleItems[2].opened"
                [icon]="['fal', 'angle-down']"
              ></fa-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" *ngIf="toggleItems[2].opened">
              <ion-list>
                <ion-radio-group [(ngModel)]="tipo">
                  <ion-item *ngFor="let item of tipos">
                    <ion-radio justify="space-between" [value]="item.id">{{
                      item.tipo
                    }}</ion-radio
                    ><br />
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="11" (click)="ChangeOpened(3)"
              ><span [ngClass]="{ selected: referencia }">
                Referencia</span
              ></ion-col
            >
            <ion-col size="1">
              <fa-icon
                *ngIf="toggleItems[3].opened"
                [icon]="['fal', 'angle-up']"
              ></fa-icon>
              <fa-icon
                *ngIf="!toggleItems[3].opened"
                [icon]="['fal', 'angle-down']"
              ></fa-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" *ngIf="toggleItems[3].opened">
              <ion-input
                type="text"
                [(ngModel)]="referencia"
                placeholder="Ingrese referencia"
              ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div class="ion-float-right" style="margin-top: 15px">
        <ion-button
          (click)="cleanFilters()"
          fill="solid"
          item-end
          color="light"
        >
          Limpiar
        </ion-button>
        <ion-button (click)="acceptFilters()" fill="solid">
          Aceptar
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
