<ion-card *ngIf="certificados.length>0">
  <ion-list>
      <ion-item (click)="showPDF(item)" *ngFor="let item of certificados">
        <ion-col size="12">
          <ion-label class="semibold">{{item.referencia}}</ion-label>
          <ion-label>{{item.fecha | date : 'dd/MM/yy'}}</ion-label>
            <ion-badge [ngClass]="item.firmado == true? 'badge-success':'badge-warning'"
              mode="md">{{item.firmado == true
              ?
              'Firmado':'Por Firmar'}}</ion-badge>      
        </ion-col>
      </ion-item>
  </ion-list>
</ion-card>
<ion-infinite-scroll  (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content class="spinner-hide"></ion-infinite-scroll-content>
</ion-infinite-scroll> 