<ion-list *ngIf="certificados.length > 0">
  <ion-item
    *ngFor="let certificado of certificados"
    (click)="showPDF(certificado)" >
    <ion-label>
      <h4 class="item-title">{{ certificado.referencia }}</h4>
      <p>{{ certificado.fecha | date : "dd/MM/yyyy" }}</p>
    </ion-label>
    <ion-badge class="badge-success">Aprobado</ion-badge>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content
    class="spinner-hide"
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
