
.img-logo {
  width: 40%;
  margin-left: 25%;
  margin-top: 25% !important;
}

.btn-google {
  border: 1px solid #9e35b7;
  border-radius: 16px;
}

ion-content {
  --ion-background-color: white;
}

.title{
  font-size: 35px;
  color: #6a6cff;
  text-align: center;
      margin: 0px;
}
.bajada{
  text-align: center;
  margin: 0px;
}

/* LINES */

.divider {
  display: block;
  text-align: center;
  margin: 1rem 0;
  overflow: hidden;
  white-space: nowrap
}

.divider .divider-text {
  position: relative;
  display: inline-block;
  font-size: .8rem;
  padding: 0rem 1rem
}

.divider .divider-text i {
  font-size: 1rem
}

.divider .divider-text:before,
.divider .divider-text:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw;
  border-top: 1px solid rgba(67, 89, 113, .2)
}

.divider .divider-text:before {
  right: 100%
}

.divider .divider-text:after {
  left: 100%
}

.box {
  --background: #6a6cff1c;
    color: #6a6cff;
    border-radius: 10px;
}