<app-section-title [section]="historialTitle"></app-section-title>
<ion-list>
  <ion-item *ngFor="let doc of documentos" (click)="showPDF(doc)">
    <ion-label>
      <h2 style="color: var(--documentos-accent)">{{ doc.tipo }}</h2>
      <h2 class="item-title">{{ doc.referencia }}</h2>
      <p>{{ doc.fecha | date : "dd/MM/yy" }}</p>
    </ion-label>

    <ion-button slot="end" color="light"> Ver </ion-button>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content
    class="spinner-hide"
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
