<ion-item lines="none">
  <ion-avatar slot="start" style="background: var(--historial-accent)"
    ><fa-icon [icon]="['fal', 'history']"></fa-icon
  ></ion-avatar>
  <ion-label>
    <h1 style="color: var(--)">Historial de documentos</h1>
    <p>Historial documentos pendientes de firma.</p>
  </ion-label>

  <ion-button slot="end" class="filter-button" (click)="openModal()">
    <ion-icon slot="icon-only" name="filter"></ion-icon>
  </ion-button>
</ion-item>

<div *ngIf="chipsFilters">
  <ion-chip *ngFor="let chip of chipsFilters" color="primary">
    <ion-label>{{ chip.value }}</ion-label>
    <ion-icon name="close" (click)="deleteFilter(chip)"></ion-icon>
  </ion-chip>
</div>

<ion-list>
  <ion-item *ngFor="let doc of documentos; let i = index" (click)="verPDF(doc)">
    <ion-label>
      <h2 style="color: var(--historial-accent)">{{ doc.tipo }}</h2>
      <h2 class="item-title">{{ doc.referencia }}</h2>
      <p>{{ doc.fecha | date : "dd/MM/yy" }}</p>
    </ion-label>
    <ion-button slot="end" color="light"> Ver </ion-button>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" distance="25%">
  <ion-infinite-scroll-content
    class="spinner-hide"
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
