<app-header [title]="true"></app-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="container-fluid flex-grow-1 container-p-y" *ngIf="trabajador">
      <app-home-card [trabajador]="trabajador"></app-home-card>
      <app-card-eventos></app-card-eventos>
      <app-card-vacaciones></app-card-vacaciones>

      <app-section-title
        *ngIf="documentosPendientes.length == 0"
        [section]="alDiaSection"
      ></app-section-title>
      <app-card-documentos
        *ngIf="documentosPendientes.length > 0"
        [documentos]="documentosPendientes"
      ></app-card-documentos>
    </div>
  </div>
</ion-content>
