<app-header [title]="true" (changeTenantEvent)="loadData()"></app-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="container-fluid flex-grow-1 container-p-y" *ngIf="trabajador">
      <app-card-accesos [trabajador]="trabajador"></app-card-accesos>
      <app-card-vacaciones></app-card-vacaciones>
      <app-card-eventos></app-card-eventos>
      <app-section-title *ngIf="!pendientes" [section]="alDiaSection"></app-section-title>
      <app-card-pendientes></app-card-pendientes>
    </div>
  </div>
</ion-content>