<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Nueva solicitud</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <fa-icon icon="close"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-range-calendar
  [(ngModel)]="dateRange"
  [options]="optionsRange"
  [type]="type"
  [format]="'yyyy-MM-dd'"
>
</ion-range-calendar>

<ion-item fill="outline" mode="md" style="margin-top: 15px">
  <ion-label position="stacked">Observaciones</ion-label>
  <ion-input type="text" [(ngModel)]="solicitud.observaciones"></ion-input>
</ion-item>

<ion-button id="btnSolicitar" expand="block" (click)="solicitar()"
  >Solicitar</ion-button
>
