<ion-card class="ion-padding">
  <h6 class="text-uppercase text-info">
    <fa-duotone-icon [icon]="['fad', 'house-user']"></fa-duotone-icon>
    Datos Personales
  </h6>
  <ion-grid>
    <ion-row class="mb-3"><ion-col> <fa-icon [icon]="['fal', 'location-dot']"></fa-icon><span
          class="semibold">Dirección:</span></ion-col><ion-col size="8"><span>{{trabajador.calle}},
          {{trabajador.comuna}}, {{trabajador.ciudad}}</span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col> <fa-icon [icon]="['fal', 'phone-office']"></fa-icon><span
          class="semibold mr-2">Teléfono:</span>{{ trabajador.telefono}}<span></span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col> <fa-icon [icon]="['fal', 'mobile-screen']"></fa-icon><span
          class="semibold mr-2">Celular:</span>{{trabajador.movil}} <span></span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col> <fa-icon [icon]="['fal', 'at']"></fa-icon><span class="semibold mr-2">Email:</span>
        <span>{{trabajador.eMail}}</span></ion-col></ion-row>
  </ion-grid>

  <h6 class="text-uppercase text-info"> <fa-duotone-icon [icon]="['fad', 'id-card']"></fa-duotone-icon>CONTRATO</h6>
  <ion-grid>
    <ion-row class="mb-3"><ion-col><fa-icon [icon]="['fal', 'file-contract']"></fa-icon><span class="semibold mr-2">Tipo
          Contrato :</span> <span>{{trabajador.tipoContrato}}</span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col><fa-icon [icon]="['fal', 'calendar-days']"></fa-icon><span
          class="semibold mr-2">Jornada:</span> <span>{{trabajador.jornada}}</span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col><fa-icon [icon]="['fal', 'users-viewfinder']"></fa-icon><span
          class="semibold mr-2">Sindicato:</span> <span>{{trabajador.sindicato}}</span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col><fa-icon [icon]="['fal', 'money-check-dollar']"></fa-icon><span
          class="semibold mr-2">Cuenta Corriente:</span><span>{{trabajador.numeroCtaCte}} </span></ion-col></ion-row>
    <ion-row class="mb-3"><ion-col><fa-icon [icon]="['fal', 'people-line']"></fa-icon><span
          class="semibold mr-2">Supervisor:</span></ion-col></ion-row>
    <ion-row class="mb-3">
      <ion-col size="9" offset="3">{{trabajador.supervisor}}</ion-col>
      <ion-col size="9" offset="3" class="text-muted"><a [href]="supervisorEmail"><fa-icon [icon]="['fal', 'at']"></fa-icon>{{trabajador.supervisorEmail}}</a></ion-col>
      <ion-col size="9" offset="3" class="text-muted"><a [href]="supervisorPhone"><fa-icon [icon]="['fal', 'phone-office']"></fa-icon>{{trabajador.supervisorTelefono}}</a></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>