<app-header></app-header>
<ion-content>
  <app-documentos-pendientes></app-documentos-pendientes>
  <app-documentos-historial></app-documentos-historial>
  <!-- <app-section-title [section]="historialTitle"></app-section-title>
  <ion-list>
    <ion-item *ngFor="let doc of documentosHistorial" (click)="showPDF(doc)">
      <ion-label>
        <h2 style="color: var(--documentos-accent)">tipo</h2>
        <h2 class="item-title">referencia</h2>
        <p>fecha</p>
      </ion-label>

      <ion-button slot="end" color="light"> Ver </ion-button>
    </ion-item>
  </ion-list> -->
  <!-- LISTA HISORIAL -->
</ion-content>

<!-- <ion-content>
  <div *ngIf="!pendientes">
    <ion-card>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <h1 style="margin-left: 1rem !important">
              <fa-duotone-icon
                [icon]="['fad', 'folder-open']"
                class="text-primary big-icon"
              ></fa-duotone-icon>
            </h1>
          </ion-col>
          <ion-col size="9">
            <h4>
              Documentos
              <small class="text-muted" style="display: block"
                >Acá encontrarás todos tus documentos publicados.</small
              >
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <app-2fa></app-2fa>
    <app-documentos-lista [pendientes]="pendientes"></app-documentos-lista>
  </div>

  <div *ngIf="pendientes">
    <ion-card>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <h1 style="margin-left: 1rem !important">
              <fa-duotone-icon
                [icon]="['fad', 'file-signature']"
                class="text-primary big-icon"
              ></fa-duotone-icon>
            </h1>
          </ion-col>
          <ion-col size="9">
            <h4>
              Documentos Por Firmar
              <small class="text-muted" style="display: block"
                >Acá encontrarás todos los documentos pendientes de ser
                firmados.</small
              >
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <app-2fa *ngIf="global.habilitadoFirma"></app-2fa>
    <app-documentos-lista [pendientes]="pendientes"></app-documentos-lista>
  </div>
</ion-content> -->
