ion-card {
  text-align: center;
}

.user-profile-header {
  min-height: 250px;
}

.user-profile-header-banner {
  position: absolute;
  z-index: -100;
  top: 0px;
}

.user-profile-header .user-profile-img {
  border-color: #fff !important;
  border: 5px solid;
  width: 120px;
  margin: auto;
  margin-top: 15%;
}

