/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* SPINNER */

.spinner-hide {
    visibility: hidden !important;
}

/* TOAST */
ion-toast {
    width: 75%;
    transform: translateX(30%);
    font-size: 15px;

}

ion-toast::part(container) {
    display: block !important;

    .toast-button-group .toast-button-group-end {
        float: right !important;
    }
}

ion-toast.success-toast {
    --background: rgb(40, 167, 69);
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: white;
}

ion-toast.danger-toast {
    --background: var(--ion-color-danger);
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: white;
}

ion-toast.danger-toast::part(button) {
    color: white !important;
    font-size: 15px;
}

ion-button {
    text-transform: none !important;
}

.btn-light-primary {
    --color: #696cff;
    border-color: transparent;
    --background: #e7e7ff !important;
    width: 30px;

    fa-icon {
        margin: 0 !important;
    }
}

/* BADGES */

.badge-primary {
    background-color: #696cff50 !important;
    color: #696cff !important;
}
.badge-success {
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}

.badge-warning {
    background-color: #fffac6 !important;
color: #ffd200 !important;
}

/* ICONS */

fa-duotone-icon {
    margin-right: 0.5rem;
}

fa-icon {
    margin-right: 0.5rem;
}

.big-icon {
    font-size: 1.5em !important;
}

.block {
    display: block;
}

/* TEXT STYLES */
.bold {
    font-weight: 700 !important;
}

.semibold {
    font-weight: 600 !important;
}

.text-success {
    color: var(--color-success) !important;
}

.text-info {
    color: var(--color-info) !important;
}

.text-danger {
    color: var(--color-danger) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-warning {
    color: var(--color-warning) !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-muted {
    color: #6c757d !important;
}

.item-title {
    font-weight: 600 !important;
    font-size: 16px !important;
}
.swiper-pagination-bullet-active {
    background: #f38add !important;
}
/* MODAL */
ion-modal.authModal::part(content) {
    --width: 80%;
    --height: auto;
    position: absolute;
    top: 5%;
    border-radius: 5px;
    display: block;

}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--ion-modal-padding);
}

ion-modal.small-modal::part(content) {
    --height: 45%;
    position: absolute;
    top: 5%;
    --width: 90%;
    border-radius: 25px;
    display: block;
}

ion-modal.medium-modal::part(content) {
    position: absolute;
    top: 12%;
    --height: 65%;
    --width: 90%;
    border-radius: 25px;
    display: block;
}


ion-modal.large-modal::part(content) {
    --ion-background-color: #ffffff85;
    position: absolute;
    top: 5%;
    --height: 85%;
    --width: 90%;
    border-radius: 25px;
    display: block;
}

.h-center {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* MARGINS */
.mb-3 {
    margin-bottom: 1rem !important;
}

.mr-2 {
    margin-right: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.ml-10p {
    margin-left: 10%;
}

.ml-3 {
    margin-top: 1rem !important;
}

/* WIDTH */

.w-75 {
    width: 75%;
}

.w-90 {
    width: 90%;
    margin: auto !important;
}

.item-box {
    border-color: --var(--ion-color-light);
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
}