<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>prototypes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="fastLogin()" expand="block" fill="solid" *ngIf="!userLogged">
    Fast Login
  </ion-button>
  <ion-button (click)="showPDF()" expand="block" fill="solid" *ngIf="userLogged">
    Open PDF
  </ion-button>


  <ngx-extended-pdf-viewer *ngIf="loaddoc" [src]="pdfSrc" backgroundColor="#FFFFFF" [showToolbar]="true"
    [showSidebarButton]="false" [showFindButton]="false" [showPagingButtons]="false" [showDrawEditor]="false"
    [showStampEditor]="false" [showTextEditor]="false" [showZoomButtons]="false" [showPresentationModeButton]="false"
    [showOpenFileButton]="false" [showPrintButton]="false" [showDownloadButton]="false"
    [showSecondaryToolbarButton]="false" [showRotateButton]="false" [showHandToolButton]="false"
    [showScrollingButton]="false" [showSpreadButton]="false" [showPropertiesButton]="false"
    [zoom]="'page-width'"
    ></ngx-extended-pdf-viewer>
</ion-content>