<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Editar datos personales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <fa-icon icon="close"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <h2 style="color: var(--ion-color-primary)">
        <fa-icon [icon]="['fal', 'user']" slot="start"></fa-icon>
        Datos personales
      </h2>
    </ion-item>
    <ion-item *ngFor="let dato of personal">
      <ion-label>
        <p>
          <fa-icon [icon]="['fal', dato.icon]" slot="start"></fa-icon>
          {{ dato.label }}
        </p>
        <ion-input [(ngModel)]="dato.value" [disabled]="disableInput(dato.label)" placeholder="No Informado">
        </ion-input>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top">
    <ion-item>
      <h2 style="color: rgb(178, 33, 31)">
        <fa-icon [icon]="['fal', 'light-emergency-on']" slot="start"></fa-icon>
        Datos de emergencia
      </h2>
    </ion-item>
    <ion-item *ngFor="let dato of emergencias">
      <ion-label>
        <p>
          <fa-icon [icon]="['fal', dato.icon]" slot="start"></fa-icon>
          {{ dato.label }}
        </p>
        <ion-input [(ngModel)]="dato.value" placeholder="No Informado"> </ion-input>
      </ion-label>
    </ion-item>
    <ion-button (click)="save()" expand="block">Guardar cambios</ion-button>
  </ion-list>
</ion-content>