<ion-content [fullscreen]="true">
  <swiper-container pagination="true">
    <swiper-slide>
      <ion-row class="ion-justify-content-center">
        <img src="assets/img/onboarding/welcome.png" alt="" />
        <ion-col size="11">
          <h1 class="bienvenida">
            ¡Te damos la bienvenida a Portal de empleos!
          </h1>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <img src="assets/img/onboarding/sign.png" alt="" />
          <h1 class="bienvenida">Gestiona todos tus documentos</h1>
          <p class="">
            Firma todos tus documentos y accede a ellos todas las veces que sea
            necesario.
          </p>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <img src="assets/img/onboarding/day-off.png" alt="" />
          <h1 class="bienvenida">Más gestión, simplificada</h1>
          <p class="">
            Podrás solicitar las vacaciones que tengas pendientes, permisos de
            ausencias, certificados y otros.
          </p>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <img src="assets/img/onboarding/events.png" alt="" />
          <h1 class="bienvenida">No te pierdas nada</h1>
          <p class="">
            Cumpleaños, festividades, after office, feriados y más. Enterate
            todo lo que pasa en la oficina.
          </p>
        </ion-col>
        <ion-col size="11">
          <ion-checkbox [(ngModel)]="discardOnBoarding"
            >No volver a mostrar</ion-checkbox
          >
          <ion-button color="primary" expand="block" (click)="goHome()"
            >¡Vamos!</ion-button
          >
        </ion-col>
      </ion-row>
    </swiper-slide>
  </swiper-container>
</ion-content>
